.my-orders {
    padding-top: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pill {
    background-color: #FAFAD2;
    border: none;
    color: black;
    padding: auto 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
}