.signInTwo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-account-main-div-two {
    width: 90%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sign-in-account-div-left-two {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-account-div-right-two {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #fbfbfb;
}

.signin-two-bar {
    width: 390px;
    height: 5%;
    margin-top: 40px;
}

.signin-two-form-div {
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-two-form-div-inner {
    width: 390px;
    height: 654px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
}

.signin-two-h3-div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.signin-two-h3 {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: 100%;
    color: #121914;
}

.signin-two-form {
    width: 100%;
    height: 55%;
}

.sign-in-account-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sign-in-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sign-in-card--div {
    width: 263.49px;
    min-height: 364.41px;
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    margin: 2rem;
    border: 1px solid gainsboro;
}

.sign-in-product {
    width: 263.49px;
    min-height: 364.41px;
}

.sign-in-card--img--div {
    width: 263.49px;
    min-height: 364.41px;
}

.sign-in-card--img {
    width: 100%;
    height: 100%;
}

.sign-in-account-card {
    width: 712px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sign-up-two-btn {
    width: 390px;
    height: 64px;
    border-radius: 12px;
    font-size: 1.5rem;
    gap: 8px;
    padding: 16px 32px;
    margin-top: 50px;
    border: none;
    background-color: #bfc3c0;
    font-family: "Noto San";
    cursor: pointer;
}

.input-signin-two {
    width: 390px;
    height: 58px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid gainsboro;
}

.sign-in-two-name-label {
    padding-top: 22px;
}

.checkbox-two-div-1 {
    width: 380px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 15px;
}

.checkbox-two {
    margin-right: 0.6rem;
}

.sign-in-account-para-two-2 {
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-bottom: 140px;
}