.passwordReset {
    width: 100%;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.create-account-div {
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.create-account-div-left {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-account-div-right {
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account-bar {
    width: 50%;
    height: 10%;
    margin-top: 40px;
    margin-bottom: 3rem;
}

.back-arrow {
    margin-top: 1rem;
}

.back-span {
    font-size: 1rem;
    padding-left: 1rem;
    position: relative;
    bottom: 5px;
}

.password-reset-form-div {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-reset-form-div-inner {
    width: 90%;
    height: 60%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
}

.password-reset-form-div-inner h3 {
    font-size: 3rem;
    margin-left: -3.5rem;
}

.password-reset-para-1 {
    font-size: 1.1rem;
    margin-left: -0.7rem;
}

.password-reset-para-2 {
    font-size: 1.4rem;
    margin-top: 3px;
}

.input-password-reset {
    width: 390px;
    height: 58px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    padding-left: 10px;
}

.create-account-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.register-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register-card--div {
    width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 1rem;
    border: 1px solid gainsboro;
    opacity: 0.5;
}


/* .register-card--div:hover {
    opacity: 1.0;
} */

.password-reset-sign-up-btn {
    width: 250px;
    height: 36px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1.8rem;
    background-color: #5a7c65;
    border-radius: 7px;
    border: none;
    color: white;
}

.password-reset-h3 {}

.input-password-reset {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.3rem;
}