.deliveryInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.deliveryInfo-div-1 {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.deliveryInfo-div-1-a {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.deliveryInfo-checkout-div {
    border-left: 1px solid gray;
}

.checkout {
    padding-left: 0.8rem;
}

.deliveryInfo-div-1-b {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
}

.deliv-info-div {
    display: flex;
}

.pay-info-div {
    display: flex;
}

.order-div {
    display: flex;
}

.tick-1 {
    width: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: 700;
    margin: 3px 8px 0 0;
}

.tick-2 {
    width: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: 700;
    margin: 3px 8px 0 0;
}

.tick-3 {
    width: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: 700;
    margin: 3px 8px 0 0;
}

.deliveryInfo-line {
    width: 40px;
    border: 1px solid gainsboro;
}

.deliveryInfo-div-2-cart {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid gainsboro;
}

.deliveryInfo-div-2-left-cart {
    width: 45%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deliveryInfo-div-2-left-sub {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

.delivery-Info-h3 {
    width: 60%;
}

.delivery-Info-para {
    font-size: 1.1rem;
    margin-top: 10px;
}

.delivery-info-form {
    width: 60%;
    height: 75%;
}

.delivery-input {
    width: 270px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    border: 1px solid gainsboro;
}

.delivery-address-textarea {
    width: 270px;
    height: 70px;
    border-radius: 5px;
    margin-top: -1rem;
    font-size: 1.1rem;
    border: 1px solid gainsboro;
}

.Continue-to-payment-btn {
    width: 270px;
    height: 35px;
    border-radius: 5px;
    background-color: gainsboro;
    border: none;
}

.deliveryInfo-div-2-right-cart {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.deliveryInfo-div-2-right-sub-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deliveryInfo-div-2-right-sub-sub-cart {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.order-summary-div-cart {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 27px;
    border-radius: 8px;
    background-color: #ffffff;
}

.order-summary {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.single-order-div-cart {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.single-order-image-div {
    width: 21%;
    height: 100%;
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-order-image {
    width: 100%;
    height: 100%;
}

.single-order-title-div-cart {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-left: 7px;
}

.remove-btn-cart {
    width: 60%;
}

.remove-btn-cart:hover {
    color: red;
}

.single-order-count-div-cart {
    width: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.single-order-count-div-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15px;
    font-size: 1.1rem;
}

.add-btn {
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minus-btn {
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-total-div-cart {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-top: 1px solid gainsboro;
}


/*delivery form */

.delivery-input {
    width: 390px;
    height: 58px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    padding-left: 10px;
}

.delivery-address-textarea {
    width: 390px;
    height: 65px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    padding-left: 10px;
}

.Continue-to-payment-btn {
    width: 400px;
    height: 64px;
    border-radius: 12px;
    font-size: 1.5rem;
    gap: 8px;
    padding: 16px 32px;
    margin-top: 20px;
    border: none;
    background-color: #bfc3c0;
    font-family: "Noto San";
    cursor: pointer;
}

.clear-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 25px;
    border-radius: 5px;
    font-size: 1.5rem;
    gap: 8px;
    padding: 16px 32px;
    margin-bottom: 20px;
    border: none;
    background-color: #bfc3c0;
    font-family: "Noto San";
    cursor: pointer;
    font-weight: 500;
}

.continue-shopping a {
    color: #5a7c65;
}

.remove-btn-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 18px;
    border-radius: 5px;
    font-size: 1.5rem;
    gap: 8px;
    padding: 10px 10px;
    border: none;
    background-color: #bfc3c0;
    font-family: "Noto San";
    cursor: pointer;
    color: #000;
    margin-top: 7px;
}