.createAccountForm-two {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createAccountForm-main-div-two {
    width: 90%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.createAccountForm-div-left-two {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.createAccountForm-bar-two {
    width: 390px;
    height: 5%;
    margin-top: 40px;
}

.createAccountForm-div-two {
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccountForm-div-inner-two {
    width: 390px;
    height: 654px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
}

.createAccountForm-h3-div-two {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.createAccountForm-h3-two {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: 100%;
    color: #121914;
}

.createAccountForm-para-1-two {
    font-size: 16px;
    font-weight: 400;
    color: #414b43;
    line-height: 100%;
    font-family: 'Noto San';
    font-style: normal;
    margin-top: 16px;
}

.createAccountForm-form-two {
    width: 100%;
    height: 70%;
}

.createAccountForm-input-two {
    width: 390px;
    height: 58px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid gainsboro;
}

.createAccountForm-sign-up-btn-two {
    width: 390px;
    height: 64px;
    border-radius: 12px;
    font-size: 1.5rem;
    gap: 8px;
    padding: 16px 32px;
    margin-top: 40px;
    border: none;
    background-color: #bfc3c0;
    font-family: "Noto San";
    cursor: pointer;
}

.createAccountForm-para-2-two {
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-bottom: 140px;
}

.createAccountForm-div-right-two {
    width: 48%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    overflow: hidden;
}

.createAccountForm-card-div-two {
    width: 712px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.register-card-section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register-card--div-two {
    width: 263.49px;
    min-height: 364.41px;
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    margin: 2rem;
    border: 1px solid gainsboro;
}

.createAccountForm-card-product-div-two {
    width: 263.49px;
    min-height: 364.41px;
}

.createAccountForm-card--img--div {
    width: 263.49px;
    min-height: 364.41px;
}

.createAccountForm-card--img {
    width: 100%;
    height: 100%;
}